:root {
  --main-color: #6d597a;
  --black: #222;
  --white: white;
  --light-black: #777;
  --light-white: #fff9;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(82, 39, 113, 1) 34%,
    rgba(2, 103, 133, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  --border: 1px solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --font-logo: 2rem;
  --font-navbar: 1.5rem;
  --font-mobile: 0.5rem;
  --font-html-tablet: 0.55rem;
  --font-html-desktop: 0.65rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-size: var(--font-html-desktop);
}

@keyframes fadeIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
}
section {
  margin: 2rem 2rem;
}
.heading {
  background-size: cover !important;
  background-position: center !important;
  padding-top: 10rem;
  padding-bottom: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}
.heading h1 {
  font-size: 10rem;
  text-transform: uppercase;
  color: var(--white);
  text-shadow: var(--text-shadow);
}
.btn {
  display: inline-block;
  background: var(--black);
  margin-top: 1rem;
  color: var(--white);
  font-size: 1.7rem;
  padding: 1rem 3rem;
  cursor: pointer;
  border-radius: 5px;
}
.btn:hover {
  background: var(--main-color);
}
.heading-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--black);
}
/* HEADER */

.header-logo-navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background-color: var(--white);
  padding: 0 5em;
  box-shadow: var(--box-shadow);
}
.row {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.navbar-list {
  list-style: none;
  padding-top: 3em;
}
li + li {
  padding-left: 2em;
}
.navbar-list a {
  font-size: var(--font-navbar);
  color: var(--black);
}
.navbar-list a:hover {
  color: var(--main-color);
}
#menu-btn {
  font-size: var(--font-logo);
  cursor: pointer;
  color: var(--black);
  display: none;
  padding-top: 1em;
}
.home {
  padding: 0;
  margin: 0 2rem;
}
.home .slide {
  text-align: center;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover !important;
  background-position: center !important;
  min-height: 60rem;
}
.home .slide .content {
  width: 85rem;
  display: none;
}
.home .swiper-slide-active .content {
  display: inline-block;
}
.home .slide .content span {
  display: block;
  font-size: 2.2rem;
  padding-bottom: 1rem;
  animation: fadeIn 0.4s linear backwards 0.2s;
}
.home .slide .content h3 {
  font-size: 6vw;
  color: rgb(88, 17, 88);
  text-shadow: 2px 2px 8px white;
  text-transform: uppercase;
  line-height: 1;
  padding: 1rem 0;
  animation: fadeIn 0.4s linear backwards 0.4s;
}
.home .slide .content .btn {
  animation: fadeIn 0.4s linear backwards 0.6s;
}
.home .swiper-button-next,
.home .swiper-button-prev {
  top: inherit;
  left: inherit;
  bottom: 0;
  right: 0;
  height: 7rem;
  width: 7rem;
  background: var(--white);
  color: var(--black);
}
.home .swiper-button-next:hover,
.home .swiper-button-prev:hover {
  background: var(--main-color);
  color: var(--white);
}
.home .swiper-button-next::after,
.home .swiper-button-prev::after {
  font-size: 2rem;
}
.home .swiper-button-prev {
  right: 7rem;
}
/*SERVICES*/
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5em;
}
.services .box-container .box {
  padding: 3rem 2rem;
  text-align: center;
  background: rgb(61, 12, 92);
  cursor: pointer;
}
.services .box-container .box:hover {
  background: var(--black);
}
.services .box-container .box h3 {
  color: var(--white);
  font-size: 1.7rem;
  padding-top: 1rem;
}
/*HOME-ABOUT*/
.home-about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: var(--light-bg);
}
.home-about .image {
  flex: 1 1 41rem;
}
.home-about .image img {
  width: 100%;
}
.home-about .content {
  flex: 1 1 41rem;
  padding: 3rem;
}
.home-about .content h3 {
  font-size: 3rem;
  color: var(--white);
}
.home-about .content p {
  font-size: 1.5rem;
  padding: 1rem 0;
  line-height: 2;
  color: var(--light-white);
}
/*HOME_PACKAGES*/
.home-packages .heading-title {
  color: var(--white);
}
.home-packages {
  background: var(--light-bg);
}
.home-packages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2em;
  margin: 0 2rem;
}
.home-packages .box-container .box {
  background: var(--white);
  border-radius: 12px;
  overflow: hidden;
}
.box {
  border-radius: 12px;
  border: none !important;
  box-shadow: 0px 0px 3px 1px gray !important;
}
.home-packages .box-container .box .image {
  height: 25rem;
}
.home-packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  transition: 0.2s linear;
}
.home-packages .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.home-packages .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}
.home-packages .box-container .box .content p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}
.home-packages .load-more {
  text-align: center;
  margin: 2rem 0;
}
/*HOME-OFFER*/
.home-offer {
  margin-top: 1rem;
  text-align: center;
}
.home-offer .content {
  max-width: 70rem;
  margin: 0 auto;
}
.home-offer .content h3 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: var(--black);
}
.home-offer .content p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}
/*ABOUT*/
.heading h1 {
  color: rgb(88, 17, 88);
  text-shadow: 2px 2px 8px white;
}
.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 2rem 2rem;
}
.about .image {
  flex: 1 1 41rem;
}

.about .content {
  flex: 1 1 41rem;
  text-align: center;
}
.about .content h3 {
  font-size: 3rem;
  color: var(--black);
}
.about .content p {
  font-size: 1.5rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem;
}
.about .content .icons-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-end;
}
.about .content .icons-container .icons {
  background: var(--light-bg);
  padding: 2rem;
  flex: 1 1 16rem;
}
.about .content .icons-container .icons i {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: var(--light-white);
}
.about .content .icons-container .icons span {
  font-size: 1.5rem;
  color: var(--white);
  display: block;
}

/*PACKAGES*/
.packages .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3em;
  max-width: 1200px;
  margin-inline: auto;
}
.packages .box-container .box {
  box-shadow: var(--box-shadow);
  background: var(--white);
  overflow: hidden;
}
.packages .box-container .box .image img {
  height: 100%;
  width: 100%;
  transition: 0.2s linear;
}
.packages .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.packages .box-container .box .content h3 {
  font-size: 2.5rem;
  color: var(--black);
}
.packages .box-container .box .content p {
  font-size: 1.4rem;
  color: var(--light-black);
  line-height: 2;
  padding: 1rem 0;
}
/*BOOKING*/
.booking .book-form {
  padding: 2rem;
  background: var(--light-bg);
}
.booking .book-form .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.booking .book-form .flex .inputBox {
  flex: 1 1 41rem;
}
.booking .book-form .flex .inputBox input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  font-size: 1.6rem;
  color: var(--light-black);
  margin-top: 1.5rem;
  border: var(--border);
}
.booking .book-form .flex .inputBox input:focus {
  background: var(--black);
  color: var(--white);
}
.booking .book-form .flex .inputBox input:focus::placeholder {
  color: var(--light-white);
}
.booking .book-form .flex .inputBox span {
  font-size: 1.5rem;
  color: var(--white);
}
.booking .book-form .btn {
  margin-top: 2rem;
}
/* FOOTER */
.footer {
  background: url(images/footer-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 5em 2em;
  text-transform: capitalize;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1em;
}
.footer .box-container .box {
  padding-left: 2em;
}
.footer .box-container .box h3 {
  color: var(--white);
  font-size: 1.5rem;
  padding-bottom: 1em;
}
.footer .box-container .box a {
  color: var(--light-white);
  font-size: 1rem;
  padding-bottom: 0.5em;
  display: block;
}
.credit {
  text-align: center;
  color: var(--white);
  margin-top: 3em;
  font-size: 1rem;
}
/* MEDIA QUERIES */

@media (max-width: 990px) {
  html {
    font-size: var(--font-html-tablet);
  }
  .heading h1 {
    text-align: center;
  }
  header {
    padding: 3em 2em;
  }

  .home .slide .content h3 {
    font-size: 10vw;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
    transition: 0.2s linear;
  }
  .heading h1 {
    text-align: center;
  }
  #menu-btn.fa-times {
    transform: rotate(360deg);
  }
  .header-logo-navbar .navbar {
    position: absolute;
    transition: 0.2s linear;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--light-white);
    border-top: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header-logo-navbar .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background-color: rgb(208, 201, 201);
  }
  .navbar .row {
    display: block;
  }
  .navbar-list li {
    margin: 2em auto;
    padding-bottom: 3em;
  }
}

@media (max-width: 450px) {
  html {
    font-size: var(--font-mobile);
  }
  .heading h1 {
    text-align: center;
  }
  .heading-title {
    font-size: 3.5rem;
  }
}
.load-more {
  padding: 2em 0em;
}
